<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 화면 해상도에 따라 글자 크기 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- fullcalendar -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar 언어 -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/locales-all.min.js'></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- toastr -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "400",
        "hideDuration": "400",
        "timeOut": "3000",
        "extendedTimeOut": "1200",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
}
</script>
    <style>
        html, body {
            overflow: hidden;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 15px;
        }
        h1 {
            text-align: center;
            padding: 30px 0px 50px;
        }
        h3 {
            text-align: center;
            padding-bottom: 20px;
        }
        a {
            text-decoration: none;
        }
        form {
            font-size: 17px;
        }
        form > div {
            padding-bottom: 20px;
        }
        .container {
            display: flex;
            justify-content: space-between;
        }
        .calendar-container {
            flex-grow: 1;
            margin-right: 100px; /* FullCalendar와 테이블 사이의 간격 조정 */
        }
        .reservation-table {
            flex-basis: 30%; /* 너비 조정 */
            padding: 20px;
            border: 1px solid #F2F3F4;
            border-radius: 10px;
        }
        #price, #won {
            border: 0px;
            padding-left: 10px;
        }
    </style>
    <title>Y Room 예약하기</title>
</head>
<body style="padding:30px;">
    <h1>Y Room 예약 현황</h1>
    <div class="container">
        <!-- FullCalendar 영역 -->
        <div class="calendar-container">
            <div id="calendar"></div>
        </div>
        <!-- 예약 정보 입력 테이블 -->
        <div class="reservation-table">
            <h3>회의실 예약하기</h3>
            <form method="post" action="/book" th:object="${bookingForm}">
                <div>회의명</div>
                <div>
                    <input type="text" th:field="*{title}" placeholder="회의 제목을 입력하세요"
                           class="form-control" minlength="1" maxlength="30">
                </div>
                <div>예약자명</div>
                <div>
                    <input type="text" th:field="*{resName}" placeholder="예약자 성함을 입력하세요"
                           class="form-control" minlength="0" maxlength="10">
                </div>
                <div>인원수</div>
                <div>
                    <input type="number" th:field="*{attendee}" placeholder="회의실 이용 인원을 입력하세요"
                           class="form-control" min="1" max="30">
                </div>
                <div>예약일자</div>
                <div>
                    <input type="date" th:field="*{resDate}" class="form-control" min="">
                </div>
                <div>
                    <input type="checkbox" id="isAllDay">
                    <label for="isAllDay">하루종일</label>
                </div>
                <div style="padding-top: 10px;">
                    시작시간 &nbsp;&nbsp;
                    <select th:field="*{startTime}">
                        <option th:each="hour : ${#numbers.sequence(9,19)}"
                                th:value="${hour >= 10 ? hour : '0' + hour} + ':00'"
                                th:text="${hour >= 10 ? hour : '0' + hour} + ':00'">
                        </option>
                    </select>
                </div>
                <div>
                    종료시간 &nbsp;&nbsp;
                    <select th:field="*{endTime}">
                        <option th:each="hour : ${#numbers.sequence(10,20)}"
                                th:value="${hour >= 10 ? hour : '0' + hour} + ':00'"
                                th:text="${hour >= 10 ? hour : '0' + hour} + ':00'">
                        </option>
                    </select>
                </div>
                <div style="padding-top: 10px;">
                    <button class="btn btn-outline-secondary btn-sm" type="button" id="priceBtn">결제 비용 확인</button>
                    <div style="display: inline-block; vertical-align: top;">
                        <input type="text" th:field="*{price}" style="visibility: hidden;" readonly>
                        <p style="display: inline; visibility: hidden;" id="won">만원</p>
                    </div>
                </div>
                <div style="text-align: center; padding-top: 30px;">
                    <button class="btn btn-primary" type="button" id="saveBtn">예약하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script>

//현재 날짜 가져오기
var today = new Date();
var year = today.getFullYear();
var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
var day = String(today.getDate()).padStart(2, '0'); // 일
var formattedDate = year + '-' + month + '-' + day;
var maxDate = (year + 1) + '-' + month + '-' + day;

// input 요소의 min, max 설정
document.getElementById('resDate').setAttribute('min', formattedDate);
document.getElementById('resDate').setAttribute('max', maxDate);
document.getElementById('startTime').setAttribute('min', formattedDate);

// 인원수 validation
function checkAttendee() {
    let val = document.getElementById("attendee").value.trim();
    if (1 <= val && val <= 30) {
        return true;
    } else {
        return false;
    }
}

  (function(){
    $(function(){

        var startTime = $("#startTime");
        var endTime = $("#endTime");

        //하루종일 버튼 클릭했을 때
        document.getElementById("isAllDay").addEventListener("input", function() {
            var isAllDay = $("#isAllDay");

            if (isAllDay.prop("checked")) {
                console.log("checked")
                startTime.attr("disabled", true);
                startTime.val("09:00");
                endTime.attr("disabled", true);
                endTime.val("20:00");
            } else {
                console.log("unchecked");
                startTime.attr("disabled", false);
                endTime.attr("disabled", false);
                endTime.val("10:00");
            }
        });

        // 결제 버튼 클릭했을 때
        $("#priceBtn").click(function() {
            const end = endTime.val().split(":");
            const start = startTime.val().split(":");
            const hours = end[0] - start[0];
            let price = $("#price");
            price.val(hours * 5);
            price.prop("style", "visibility: visible; width: 30px; margin-left: 10px;");
            $("#won").prop("style", "display: inline; visibility: visible; padding-left: 0px;");
        });

        /*
            FullCalendar 설정
        */
        var calendarEl = $('#calendar')[0];
        var calendar = new FullCalendar.Calendar(calendarEl, {

        height: '800px', // calendar 높이 설정
        expandRows: true, // 화면에 맞게 높이 재설정
        slotMinTime: '09:00', // Day 캘린더에서 시작 시간
        slotMaxTime: '20:00', // Day 캘린더에서 종료 시간
        // 해더에 표시할 툴바
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(default: month)
        navLinks: true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
        editable: false, // 수정 여부
        selectable: false, // 달력 일자 드래그 설정 여부
        nowIndicator: true, // 현재 시간 마크
        dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
        locale: 'ko' // 한국어 설정
      });

      /*
        init data
      */
      $.ajax({
            type: "POST",
            url: "/init",
            success: function(res) {

                console.log("init completed")
                console.log("res:", res);

                for (var i = 0; i < res.length; i++) {
                    let event = {
                        title: res[i].title,
                        start: res[i].startTime,
                        end: res[i].endTime
                    };
                    calendar.addEvent(event)
                }

                calendar.render();
                console.log("render completed");
            },
            error: function() {
                toastr.error("오류가 발생하여 저장된 데이터를 불러올 수 없습니다.");
            }
        });

      /*
        예약데이터 저장하기
      */
      $("#saveBtn").click(function(){

          if ($("#title").val().trim() === '') {
                toastr.error("회의명을 입력해주세요.");
                return;
          }

          if (!checkAttendee()) {
                toastr.error("최대 인원수는 30명입니다.");
                return;
          }

        const data = {
            resName : $("#resName").val(),
            title : $("#title").val(),
            startTime : $("#startTime").val(),
            endTime : $("#endTime").val(),
            attendee : $("#attendee").val(),
            resDate : $("#resDate").val(),
            price : $("#price").val()
        };

        $.ajax({
            type: "POST",
            url: "/book",
            data: data,
            success: function(res) {
                console.log("res: ", res);
                if (typeof res === 'string') {
                    toastr.error(res);
                } else {
                    toastr.info("회의실 예약이 완료되었습니다.");

                    let event = {
                        title: res.title,
                        start: res.startTime,
                        end: res.endTime
                    };

                    // 입력한 데이터 초기화
                    $("#title").val("");
                    $("#resName").val("");
                    $("#attendee").val("1");
                    $("#resDate").val(formattedDate);
                    $("#startTime").val("09:00");
                    $("#endTime").val("10:00");
                    $("#isAllDay").prop("checked", false);

                    calendar.addEvent(event)
                    calendar.render();
                }

            },
            error: function() {
                toastr.error("오류가 발생하여 예약에 실패하였습니다.");
            }
        });
      });
    });
  })();
</script>
</html>